<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hack Lists</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="image/png" href="{{ url_for('static', filename='favicon/hackathon_logo_favicon.png') }}">
  </head>


<body>
	<br>
	<img src="{{ url_for('static', filename='favicon/hackathon_logo_favicon.png') }}" alt="Hack Lists Logo" width=50 height=50>
	<h1>Hack Lists</h1>

{% block body %}{% endblock %}

	<br>
	<br>
</body>
</html>