{% extends 'base.html' %}

{% block body %}

<h3>Ongoing and Upcoming Hackathons</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Serial</th>
			<th>Name</th>
			<th>Organizer</th>
			<th>Starting Date</th>
			<th>Ending Date</th>
			<th>Status</th>
			<th>Contest Website</th>
		</tr>
	</thead>
	<tbody>
		{% for contest in contests %}
			<tr>
				<td>{{ contests.index(contest)+1 }}</td>
				<td>{{ contest.split(' :: ')[0] }}</td>
				<td>{{ contest.split(' :: ')[1] }}</td>
				<td>{{ contest.split(' :: ')[2] }}</td>
				<td>{{ contest.split(' :: ')[3] }}</td>
				<td>{{ contest.split(' :: ')[4] }}</td>
				<td><a href="{{ contest.split(' :: ')[5] }}">{{ contest.split(' :: ')[5] }}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}